
      
        <div class="video-container">
            <video autoplay muted loop id="video-bg">
                <source [src]=imageUrl type="video/mp4">
                Your browser does not support the video tag.
            </video>
            </div>
            
              
              
            <div class="overlay">
                
                <div class="topnav">
                    <div class="logo"><img src="logo.png" width="5%"></div>
                    <div class="left">                  
                        <a routerLink="/login" class="active">logout</a>
                       
                    </div>  
                   
                </div>
                    
            </div>
            <div class="content">
                <h1 class="name">Belsingh <span>Cakes</span></h1>
                <h1 class="motto">Admin Dashboard</h1>
                    <button class="ex-btn" (click)="navigateToOtherPage()" >View Transaction History</button>
                    <button class="ex-btn" (click)="navigateToOtherPage1()" >View Users</button>
                    <button class="ex-btn" (click)="navigateToOtherPage2()" >Add Cake</button>
                    <button class="ex-btn" (click)="navigateToOtherPage3()" >Delete Cake</button>
                    <button class="ex-btn" (click)="navigateToOtherPage4()" >Announcements</button>
            </div>
           
       